<h1>Form goes here</h1>
<form method="post" action="/articles">
    <p>Title of article: <input type="text" name="title"> </p>
    <p>What do you have to say about this topic? <input type="text" name="content"></p>
    <input type="submit" value="Send it out!">
</form>